body{
	margin:160px;
	text-align:center;
	background-color:black;
}
h1{
	color:white;
	text-shadow:2px 2px 5px red;
	
}
input{
	height:25px;
	border-radius:5px;
	padding:2px;
	color:yellow;
	background-color:black;
	
}

#button{
	height:25px;
	border-radius:5px;
	padding:2px;
	color:;
	background-color:;
	
}input:hover { 
  background-color: red;
}